<h1>About Us</h1>
<p>Welcome to our Pokédex application, where you can find information about your favorite Pokémon.</p>
<p>This application was developed as part of a learning project to understand Rails better.</p>
