<section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Pokedex Project</h1><br>
            <h2 class="subtitle has-text-centered">Explore Pokémon from Generations 1 to 7</h2>

            <div class="content">
                <p>This project is an interactive Pokedex that allows users to explore Pokémon from the first to the seventh generation, encompassing a total of approximately 800 Pokémon.</p>
                <p>The information for each Pokémon has been extracted from a CSV <a href="https://www.kaggle.com/datasets/rounakbanik/pokemon">(<i>kagle.com</i>)</a> database and organized into different tables for easier management and access.</p>
                <h3 class="subtitle">Database Model (ERD)</h3>
                <p>
                    <div class="has-text-centered" style="max-width: 700px;"><img src="/dbModel.png" alt=""></div>
                    <i><span>ERD tool:<a href="https://dbdiagram.io/"> dbdiagram.io</a></span></i>
                </p>

                <p>The Pokedex includes features such as:</p>
                <ul>
                    <li>Searching by name</li>
                    <li>Filtering by type and generation</li>
                    <li>Viewing individual details for each Pokémon</li>
                </ul>
                <p>Additionally, a modern design has been implemented using Bulma CSS, providing a user-friendly and visually appealing experience.</p>
                <p>This project is perfect for Pokémon enthusiasts and anyone looking to learn more about each creature and its characteristics.</p>
            </div>
        </div>
    </section>