<h1>Pokemon Not Found</h1>
<p>We're sorry, but the Pokemon you are looking for does not exist.</p>
<p>Please check the ID or try searching for a different Pokemon.</p>
<%= link_to 'Back to Pokémons', pokemons_path %>
